.fond_titre{
    --ion-background-color: #39cccc;
}

.fond_decran{
    --ion-background-color: linear-gradient(#667db6,#0082c8,#0082c8,#667db6);
}
.label {
    --ion-background-color: transparent;
}
.item_p{
}
.list_button{
    display: block;
    margin-top: 50px;
    margin-bottom: auto;
    --border-color: transparent;
}
.button_home{
    --border-color:black;
}