<ion-header  class="fond_titre" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <p text-right>Le bateau de Thibault</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fond_decran" >
  
 
      
      <ion-list  class = "list_button">
        
        <ion-item class ="item_ p" lines="none">
          <button  fill="clear" expand ="block" class ="button_home" (click) = "onGoToProduitPromo()">Produits et promotions</button>
        </ion-item >

        <ion-item class ="item_ p" lines="none">
          <button class ="button_home" (click) = "onGoToBateaux()">Bateaux</button>
        </ion-item>

        <ion-item class ="item_ p" lines="none">
          <button class ="button_home" (click) = "onGoToRestaurants()">Restaurants</button>
        </ion-item >

        <ion-item class ="item_ p" lines="none">
          <button class ="button_home" (click) = "onGoToRecettes()">Recettes</button>
        </ion-item>

        <ion-item class ="item_ p" lines="none">
          <button class ="button_home" (click) = "onGoToContact()">Contact</button>
        </ion-item>

    </ion-list>

</ion-content>
